* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(235, 235, 235);
}
.socials {
  display: flex;
  background-color: black;
  padding: 0.2rem 0.5rem 0.5rem 0.5rem;
  height: 2.4rem;
  justify-content: space-between;
}
img {
  width: 1rem;
  background-color: white;
}
.socials ul {
  display: flex;
  flex-direction: row;
  gap: 1.8rem;
  padding: 0.5rem;
}
.socials li {
  list-style: none;
}
iconify-icon {
  color: white;
}
.search {
  padding: 0.5rem;
}
.bloglife {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  height: 35vh;
  border-bottom: 2px solid black;
  background-color: ;
  font-family: agency fb;
  background-color: white;
}
.bloglife p {
  display: inline;
  font-family: agency fb;
}
.bloglife h1 {
  font-size: 3rem;
  font-family: agency fb;
  font-weight: 2000;
}
.welcome {
  margin-top: 1rem;
}
.world {
  color: white;
  background-color: black;
  padding: 0.2rem;
  font-family: agency fb;
}
.jane {
  width: 195vh;
}
.btn {
  background-color: rgba(255, 255, 255, 0.555);
  padding: 1rem;
  text-decoration: none;
  color: black;
  width: fit-content;
  font-family: agency fb;
  transition: 400ms ease;
}
.btn:hover {
  background-color: white;
}
.img {
  color: white;
  height: 100vh;
  background-image: url(media/janefashion.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  font-family: agency fb;
}
.fashion {
  font-size: 4rem;
  font-weight: 1000;
  font-family: agency fb;
}
section {
  background-color: rgb(235, 235, 235);
}
.grid {
  background-color: rgb(235, 235, 235);
  padding-top: 1.5rem;
  column-gap: 2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.left,
.right {
  height: 200vh;
  background-color: rgb(235, 235, 235);
}

.title {
  padding: 1rem;
  background-color: white;
}
.title p {
  display: inline;
}
.desc {
  margin-top: 1rem;
}
.title img {
  width: 50rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.title h2,
.desc {
  text-align: center;
  font-family: agency fb;
}
.titledesc {
  display: block;
  font-size: 1.2rem;
}
.date {
  color: gray;
}
.right img {
  width: 23.8rem;
}
.rightcont {
  background-color: black;
}
.rightcont p {
  margin-top: 1rem;
  color: white;
  font-size: 1.2rem;
}
.rightcont h3 {
  color: white;
  font-size: 2rem;
}
.txt {
  padding: 1rem;
  font-family: agency fb;
}
.poop {
  height: 2rem;
  width: 2px;
}

.ul li {
  display: flex;
  flex-direction: row;
  padding: 1.5rem;
  border-bottom: 1px solid black;
}
.right {
  width: 30vw;
}
i {
  color: white;
}

.ul img {
  height: 4rem;
  width: 4rem;
}
.ul li p {
  margin-left: 1rem;
}
.popularpost h2 {
  margin-top: 2rem;
  padding: 2rem;
}
.popularpost h2 {
  background-color: black;
  color: white;
  font-family: agency fb;
  height: 3rem;
}
.popularpost {
  margin-top: 1rem;
  background-color: white;
}
footer a {
  background-color: black;
  color: white;
  font-family: agency fb;
  padding: 1rem 2rem;
  width: fit-content;
  margin-left: 2rem;
  text-decoration: none;
}
footer {
  margin-top: 10rem;
  height: 20vh;
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.advertising h2 {
  margin-top: 2rem;
  background-color: black;
  padding: 1rem;
  color: white;
  font-family: agency fb;
}
.advertising {
  background-color: white;
  padding-bottom: 0.5rem;
}
.popularpost h2 {
  background-color: black;
  padding: 1rem;
  color: white;
  font-family: agency fb;
}
.gray {
  background-color: gray;
  margin: 1rem auto;
  height: 40vh;
  width: 25vw;
}
.like {
  background-color: white;
  border: 1px solid black;
  color: white;
  font-family: agency fb;
  color: black;
  width: fit-content;
  padding: 0.5rem 2rem;
  margin-left: 2rem;
  height: fit-content;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.reply {
  background-color: black;
  color: white;
  font-family: agency fb;
  padding: 0.5rem 2rem;
  margin-right: 2rem;
  height: fit-content;
}
.ul a {
  text-decoration: none;
  color: black;
}
.ul li:hover {
  background-color: rgb(179, 179, 179);
  transition: 200ms ease;
}
.fashion {
  margin-top: 1rem;
}
.btn {
  margin-top: 1rem;
}
.ul a {
  width: 100%;
  display: flex;
}
